# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
#*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

#VC
*/obj/*
*.exp
*.ilk
*.pdb
*.sdf
*.suo
*.opensdf

#example
example/emptyExample.VC.VC.opendb
example/emptyExample.VC.db
example/emptyExample.sln
example/emptyExample.vcxproj
example/emptyExample.vcxproj.filters
example/emptyExample.vcxproj.user
*bin/*
!*bin/data
